/debug/
/Build_CameraCalibration/nbproject/private/
/Build_CameraCalibration/build/
/Build_CameraCalibration/dist/
/Build_Commons/nbproject/private/
/Build_Commons/build/
/Build_Commons/dist/
/Build_CalibrationPattern/nbproject/private/
/Build_CalibrationPattern/build/
/Build_CalibrationPattern/dist/
/Build_PhaseImageMakerApp/nbproject/private/
/Build_PhaseImageMakerApp/build/
/Build_PhaseImageMakerApp/dist/
/BrightnessCalibrationImageMakerApp/nbproject/private/
/BrightnessCalibrationImageMakerApp/build/
/BrightnessCalibrationApp/nbproject/private/
/BrightnessCalibrationApp/build/
/Commons/nbproject/private/
/SineWaveImageMakerApp/nbproject/private/
/CameraCalibration/nbproject/private/
/CalibrationPattern/nbproject/private/
/GeometricCalibrationImageMakerApp/nbproject/private/
/apps/BrightnessCalibrationApp/build/
/apps/BrightnessCalibrationApp/nbproject/private/
/apps/BrightnessCalibrationImageMakerApp/build/
/apps/BrightnessCalibrationImageMakerApp/nbproject/private/
/apps/CameraCalibration/nbproject/private/
/apps/GeometricCalibrationImageMakerApp/nbproject/private/
/apps/SineWaveImageMakerApp/nbproject/private/
/Projects/BrightnessCalibrationApp/build/
/Projects/BrightnessCalibrationApp/nbproject/private/
/Projects/BrightnessCalibrationImageMakerApp/build/
/Projects/BrightnessCalibrationImageMakerApp/nbproject/private/
/Projects/CameraCalibration/nbproject/private/
/Projects/Commons/nbproject/private/
/Projects/GeometricCalibrationImageMakerApp/nbproject/private/
/Projects/SineWaveImageMakerApp/nbproject/private/
/projects/BrightnessCalibration/nbproject/private/
/projects/BrightnessCalibrationImageMaker/nbproject/private/
/projects/GeometricCalibrationImageMaker/nbproject/private/
/projects/SineWaveImageMaker/nbproject/private/