/debug/
/Build_CameraCalibration/nbproject/private/
/Build_CameraCalibration/build/
/Build_CameraCalibration/dist/
/Build_Commons/nbproject/private/
/Build_Commons/build/
/Build_Commons/dist/
/Build_CalibrationPattern/nbproject/private/
/Build_CalibrationPattern/build/
/Build_CalibrationPattern/dist/
/Build_PhaseImageMakerApp/nbproject/private/
/Build_PhaseImageMakerApp/build/
/Build_PhaseImageMakerApp/dist/
/BrightnessCalibrationImageMakerApp/nbproject/private/
/BrightnessCalibrationImageMakerApp/build/
/BrightnessCalibrationApp/nbproject/private/
/BrightnessCalibrationApp/build/