/debug/
/Build_CameraCalibration/nbproject/private/
/Build_CameraCalibration/build/
/Build_CameraCalibration/dist/
/Build_Commons/nbproject/private/
/Build_Commons/build/
/Build_Commons/dist/
/Build_CalibrationPattern/nbproject/private/
/Build_CalibrationPattern/build/
/Build_CalibrationPattern/dist/