<config>
	<nRows>13</nRows>
	<nCols>17</nCols>
	<borderWidth>40</borderWidth>
	<shapeRadius>200</shapeRadius>
	<ringOuterRadius>120</ringOuterRadius>
	<ringInnerRadius>80</ringInnerRadius>
	<dpi>300</dpi>
	<borderColor>000000</borderColor>
	<backgroundColor>FFFFFF</backgroundColor>
	<ringColor>000000</ringColor>
	<savePath>C:\Users\kfd18\OneDrive\kdaquila_SoftwareDev\Structured-Light\StructuredLight-Commons\Test_Resources\RingGrid\RingGrid_Pattern\pattern.png</savePath>
</config>
